
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Bem vindo ao sistema de Pedidos de Marmita</h2>

<h2>Para vazer o pedido clique aqui</h2>
<a href="~/Pedidos/Pedidos" class="btn btn-default btn-lg">Pedidos</a>

<h2>Para consultar o consumo do mes clique aqui </h2>
<a href="#" class="btn btn-default btn-lg">default</a>
