
@{

    Layout = "~/Views/Shared/_layout.cshtml";
    


}
<form action=" @Url.Action("Pedidos", "Pedidos")" method="POST">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Selecione o fornecedor
                </div>
                <div class="form-group">
                    <label >Selecione o Fornecedor</label>
                    <select  name="lista_fornecedores" class="form-control">
                        @foreach (var item in ViewBag.LstFornecedores)
                        {
                            ViewBag.fornecedor = item.id_fornecedor;

                            <option onselect="@item.id_fornecedor">@item.nome_fornecedor</option>

                        }
                    </select>
                </div>
            </div>
        </div>
</form>



