
@{

    Layout = "~/Views/Shared/_layout.cshtml";
}

    
    @using (Html.BeginForm("Atualizar", "Funcionario", FormMethod.Post))
    {
    <div class="form-group">
        <input class="form-control" name="cod" value="@ViewBag.cod" />
        <label>Nome </label>
        <input class="form-control" placeholder="Digite aqui!" name="nome" maxlength="100" value="@ViewBag.nome">
        <label>Telefone </label>
        <input class="form-control" placeholder="Digite aqui!" name="telelefone" maxlength="11" value="@ViewBag.telefone">
        <label>Endereço </label>
        <input class="form-control" placeholder="Digite aqui!" name="endereco" maxlength="100" value="@ViewBag.endereco">
        <hr>
         <button type="submit" class="btn btn-success" name="alterar" >Salvar</button>
         
    </div>
     }

