<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="text-center">
                <img src="~/assets/img/logo.png" class="user-image img-responsive">
            </li>



            <li>
                <a href="#"><i class="fa fa-sitemap fa-3x"></i> Cadastros <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">


                    <li>
                        <a href="#">Fornecedor<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="~/Fornecedor/ConsultarFornecedor">Consultar</a>
                            </li>
                            <li>
                                <a href="~/Fornecedor/Cadastrar">Cadastrar</a>
                            </li>
                            <li>
                                <a href="#">Produtos<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="~/Produtos/Consultar">Consultar</a>
                                    </li>
                                    <li>
                                        <a href="~/Produtos/Cadastro">Cadastrar</a>
                                    </li>

                                 </ul>
                            </li>
                        </ul>

                    </li>



                </ul>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="#">Funcionario<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="~/Funcionario/ConsultarFuncionario">Consultar</a>
                            </li>
                            <li>
                                <a href="~/Funcionario/Cadastrar">Cadastrar</a>
                            </li>

                        </ul>

                    </li>

                </ul>

            </li>

            <li>
                <a class="active-menu" href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
            </li>
        </ul>
       
        

       

    </div>

</nav>